.section-stories {
  position: relative;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;

  // height & width same as parent
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;

    //elm will fit the entrie parent, while maintaining aspect ratio
    //this works with html elms or videos
    object-fit: cover; //similar to background-size: cover;
  }
}
