body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* stop elm from shaking, hides back part of an elm */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &__text--main {
    display: block;
    font-size: 6rem;
    font-weight: 40rem;
    letter-spacing: 3.5rem;
    /* remove the last space added by letter-spacing */
    margin-right: -3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
  }

  &__text--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* remove the last space added by letter-spacing */
    margin-right: -1.75rem;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);

  background-clip: text;
  // background gets clipped exactly were the text is
  -webkit-background-clip: text;
  // text is on top of background-clip
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 0.2rem;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
  // text-align: center; //doesn't work here must be on the parent
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  // DOESN'T WORK as last-child takes effect if it's applied to the last element amongst its siblings.
  // &:not(:last-child) {
  //   margin-bottom: 3rem;
  // }

  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }
}
